<div style= "text-align: center; border: 2px solid black; margin-bottom: 15px;">
  <h2>Wedding gifts</h2>
</div>

<%= link_to "new gift", new_gift_path %>

<% @gifts.each do |gift| %>
  <% if !gift.fields.empty? %>
    <div style= "margin-bottom: 25px; padding: 20px; text-align: center; border: solid 1px #e1e1e1; background-color: #fff ;box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.18);">
      <p>Id: <%= gift.fields["id"] %></p>
      <p>Name: <%= gift.fields["gift"] %></p>
      <p>Initial price: <%= gift.fields["initialPrice"] %>€</p>
      <p>Remaining price: <%= gift.fields["remainingPrice"] %>€</p>
      <p style= "display:inline">Contribution:
        <div class="value_submited" style="display:inline;">
          0
        </div>
        €
      </p>
      <%#= link_to "Show", "#{gift_path(gift.id)}" %>
      <%= link_to "Edit", edit_gift_path(gift.id) %>
      <br />
    </div>
  <% end %>
<% end %>


